.sidebar-wrapper {
  .logo-normal {
    color: #333;
    
    img {
      width: 170px;
    }
  }
  .nav {
    li {
      a {
        font-size: 14px !important;
        outline: 0;
      }
    }
  }
}
