<div class="add-client" *ngIf="formGroup">
  <div class="row">
    <div class="col-md-12 px-0">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title my-0"> Enter Client Details</h4>
          <button type="button" class="close close-icon" [routerLink]="['./../list']" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body">
          <form [formGroup]="formGroup" class="needs-validation" novalidate autocomplete="off">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Name *</label>
                <input type="text" class="form-control" [ngClass]="{'is-invalid':formErrors['name']}" formControlName="name">
                <div *ngIf="formErrors['name']" class="invalid-feedback">
                  {{ formErrors['name'] }}
                </div>
              </div>
              <div class="form-group col-md-6">
                <label>Tax ID *</label>
                <input type="password" class="form-control" [ngClass]="{'is-invalid':formErrors['taxId']}" formControlName="taxId">
                <div *ngIf="formErrors['taxId']" class="invalid-feedback">
                  {{ formErrors['taxId'] }}
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Email Address *</label>
                <input type="email" class="form-control" [ngClass]="{'is-invalid':formErrors['email']}" formControlName="email">
                <div *ngIf="formErrors['email']" class="invalid-feedback">
                  {{ formErrors['email'] }}
                </div>
              </div>
              <div class="form-group col-md-3">
                <label>Phone no *</label>
                <input type="text" class="form-control" [ngClass]="{'is-invalid':formErrors['phoneNo']}" formControlName="phoneNo">
                <div *ngIf="formErrors['phoneNo']" class="invalid-feedback">
                  {{ formErrors['phoneNo'] }}
                </div>
              </div>
              <div class="form-group col-md-3">
                <label>Website *</label>
                <input type="text" class="form-control" [ngClass]="{'is-invalid':formErrors['website']}" formControlName="website">
                <div *ngIf="formErrors['website']" class="invalid-feedback">
                  {{ formErrors['website'] }}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Street Address *</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid':formErrors['streetAddress']}" formControlName="streetAddress">
              <div *ngIf="formErrors['streetAddress']" class="invalid-feedback">
                {{ formErrors['streetAddress'] }}
              </div>
            </div>
            <div class="form-row border-bottom mb-3">
              <div class="form-group col-md-6">
                <label>City *</label>
                <input type="text" class="form-control" [ngClass]="{'is-invalid':formErrors['city']}" formControlName="city">
                <div *ngIf="formErrors['city']" class="invalid-feedback">
                  {{ formErrors['city'] }}
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>State *</label>
                <select [ngClass]="{'is-invalid':formErrors['state']}" formControlName="state" class="form-control">
                  <option [ngValue]="null">Select a State</option>
                  <option *ngFor="let state of statesList" [ngValue]="state.key">{{ state.value }}</option>
                </select>
                <div *ngIf="formErrors['state']" class="invalid-feedback">
                  {{ formErrors['state'] }}
                </div>
              </div>
              <div class="form-group col-md-2">
                <label>Zip *</label>
                <input type="text" class="form-control" [ngClass]="{'is-invalid':formErrors['zipCode']}" formControlName="zipCode">
                <div *ngIf="formErrors['zipCode']" class="invalid-feedback">
                  {{ formErrors['zipCode'] }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h6 class="font-weight-normal">Contact Person 1</h6>
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="form-group col-md-3">
                <label>Name *</label>
                <input type="text" class="form-control" [ngClass]="{'is-invalid':formErrors['contactName1']}" formControlName="contactName1">
                <div *ngIf="formErrors['contactName1']" class="invalid-feedback">
                  {{ formErrors['contactName1'] }}
                </div>
              </div>
              <div class="form-group col-md-3">
                <label>Phone No *</label>
                <input type="text" class="form-control" [ngClass]="{'is-invalid':formErrors['contactPhoneNo1']}" formControlName="contactPhoneNo1">
                <div *ngIf="formErrors['contactPhoneNo1']" class="invalid-feedback">
                  {{ formErrors['contactPhoneNo1'] }}
                </div>
              </div>
              <div class="form-group col-md-3">
                <label>Email Id *</label>
                <input type="text" class="form-control" [ngClass]="{'is-invalid':formErrors['contactEmailId1']}" formControlName="contactEmailId1">
                <div *ngIf="formErrors['contactEmailId1']" class="invalid-feedback">
                  {{ formErrors['contactEmailId1'] }}
                </div>
              </div>
              <div class="form-group col-md-3">
                <label>Designation *</label>
                <input type="text" class="form-control" [ngClass]="{'is-invalid':formErrors['contactDesignation1']}" formControlName="contactDesignation1">
                <div *ngIf="formErrors['contactDesignation1']" class="invalid-feedback">
                  {{ formErrors['contactDesignation1'] }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h6 class="font-weight-normal">Contact Person 2</h6>
              </div>
            </div>
            <div class="form-row border-bottom mb-3">
              <div class="form-group col-md-3">
                <label>Name *</label>
                <input type="text" class="form-control" [ngClass]="{'is-invalid':formErrors['contactName2']}" formControlName="contactName2">
                <div *ngIf="formErrors['contactName2']" class="invalid-feedback">
                  {{ formErrors['contactName2'] }}
                </div>
              </div>
              <div class="form-group col-md-3">
                <label>Phone No *</label>
                <input type="text" class="form-control" [ngClass]="{'is-invalid':formErrors['contactPhoneNo2']}" formControlName="contactPhoneNo2">
                <div *ngIf="formErrors['contactPhoneNo2']" class="invalid-feedback">
                  {{ formErrors['contactPhoneNo2'] }}
                </div>
              </div>
              <div class="form-group col-md-3">
                <label>Email Id *</label>
                <input type="text" class="form-control" [ngClass]="{'is-invalid':formErrors['contactEmailId2']}" formControlName="contactEmailId2">
                <div *ngIf="formErrors['contactEmailId2']" class="invalid-feedback">
                  {{ formErrors['contactEmailId2'] }}
                </div>
              </div>
              <div class="form-group col-md-3">
                <label>Designation *</label>
                <input type="text" class="form-control" [ngClass]="{'is-invalid':formErrors['contactDesignation2']}" formControlName="contactDesignation2">
                <div *ngIf="formErrors['contactDesignation2']" class="invalid-feedback">
                  {{ formErrors['contactDesignation2'] }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h6 class="font-weight-normal">Select Policy Buckets</h6>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Select Policies *</label>
                <p-multiSelect class="form-control policy-select" [ngClass]="{'is-invalid':formErrors['policyBucketsDropdown']}" 
                  [options]="policyDropdownItems" formControlName="policyBucketsDropdown" [maxSelectedLabels]="2"
                  (onChange)="policyListChange($event)"></p-multiSelect>
                <div *ngIf="formErrors['policyBucketsDropdown']" class="invalid-feedback">
                  {{ formErrors['policyBucketsDropdown'] }}
                </div>
              </div>
            </div>

            <div *ngFor="let policyFormGroup of policyFormArray.controls; let i = index">
              <div class="form-row" [formGroupName]="i">
                <div class="form-group col-md-2 pt-4 mt-1">
                  {{ (i + 1) + '. ' + getPolicyLabel(i) }}
                </div>
                <div class="form-group col-md-2">
                  <label>Effective Date</label>
                  <p-calendar class="form-control" formControlName="effectiveDate"></p-calendar>
                </div>
                <div class="form-group col-md-2">
                  <label>End Date</label>
                  <p-calendar class="form-control" formControlName="terminationDate" 
                    [minDate]="policyFormArray.controls[i]?.controls?.effectiveDate?.value"></p-calendar>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-dark float-right my-3 px-4" (click)="addClient()">ADD</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>